* {
    box-sizing: border-box;
}

body {
    background-color: #0B2434;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    height: auto;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto !important;
}

.title {
    font-size: 40px;
    //margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}